<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          AboutPage
        </div>
        <div class="panel-body">
          In this System we are making CargoMatic an online service that make it easier for Client to placed package details to deliver form one location to another destination. Client share its request to system about the package details like: Size, Location, Weight, Total in number. Our system get request processes it and delivers the package to desire destination. Pricing will be determined on weight, location distance, how urgent user wants to deliver and where it wants to delivered.
        </div>
        <ul class="list-group">
          <li class="list-group-item">Mohammad Hamza — <small>Application Developer</small></li>
          <li class="list-group-item">Hiba Khurshid — <small>Group Leader, Project Manager</small></li>
          <li class="list-group-item">Wajahat Khan — <small>Software Quality Assurance</small></li>
          <li class="list-group-item">Masood Ul Haq — <small>Database Manager</small></li>
          <li class="list-group-item">Khan SaHab — <small>Front End Developer</small></li>
        </ul>
      </div>
    </div>
  </div>
</div>
