<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          ContactPage
        </div>
        <div class="panel-body">
          <form class="form-horizontal" role="form" method="POST" action="http://localhost:8000/auth/register">
            <input type="hidden" name="_token" value="dYPuS7mefRVdZRtiB49pjf0gOSjRx3quu3IKzX8u">

            <div class="form-group">
              <p class="col-md-4 control-label">Name</p>
              <div class="col-md-6">
                <input type="text" class="form-control" name="name" value="{{ _auth.displayName }}">
              </div>
            </div>

            <div class="form-group">
              <p class="col-md-4 control-label">E-Mail Address</p>
              <div class="col-md-6">
                <input type="email" class="form-control" name="email" value="{{ _auth.emailAddress }}">
              </div>
            </div>

            <div class="form-group">
              <p class="col-md-4 control-label">Issue</p>
              <div class="col-md-6">
                <select class="form-control">
                  <option>Feedback</option>
                  <option>Report Problem</option>
                  <option>F.A.Q.'s</option>
                  <option>Other</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <p class="col-md-4 control-label">Message</p>
              <div class="col-md-6">
                <textarea class="form-control" rows="5" name="message"></textarea>
              </div>
            </div>

            <div class="form-group">
							<div class="col-md-6 col-md-offset-4">
								<button type="submit" class="btn btn-primary">Submit</button>
              </div>
						</div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
