<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          MainPage
        </div>
        <div class="panel-body">
          <tabset>
            <tab heading="Cargo" class="p-tap">
              Cargo tab works!
            </tab>
            <tab heading="Package" disabled=true></tab>
            <tab heading="Details" disabled=true></tab>
          </tabset>
      </div>
    </div>
  </div>
</div>