<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="alert alert-{{ alertType }}" role="alert" *ngIf="alert">
        <strong class="alertUppercase">{{ alertType }}!</strong>  {{ alertMessage }}
        <strong class="fr" (click)="reset()">x</strong>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          MainPage
        </div>
        <div class="panel-body">
          <tabset #staticTabs>
            <tab heading="Shipping" class="p-tap" id=1>
              <form class="form-horizontal" role="form" method="POST" (ngSubmit)="shipping(origion.value, destination.value, address.value, type.value, size.value, total.value, departing.value, reciving.value, pioraty.value, information.value); this.form.reset();" #form>
                <input type="hidden" name="_token" value="dYPuS7mefRVdZRtiB49pjf0gOSjRx3quu3IKzX8u">

                <div class="form-group">
                  <p class="col-md-4 control-label">Origion to Destination</p>
                  <div class="row">
                    <div class="col-xs-3">
                      <select class="form-control" name="origion" #origion>
                        <option value="Karachi">karachi</option>
                        <option value="Gwadar">Gwadar</option>
                        <option value="Chiniot">Chiniot</option>
                        <option value="Swabi">Swabi</option>
                      </select>
                    </div>
                    <div class="col-xs-3">
                      <select class="form-control fca" name="destination" #destination>
                        <option value="Islamabad">Islamabad</option>
                        <option value="Lahore">Lahore</option>
                        <option value="Peshawar">Peshawar</option>
                        <option value="Hariur">Haripur</option>
                        <option value="Quetta">Quetta</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <p class="col-md-4 control-label">Route Destination</p>
                  <div class="col-md-6">
                    <input type="text" class="form-control" name="address" #address placeholder="Address">
                  </div>
                </div>

                <div class="form-group">
                  <p class="col-md-4 control-label">Load Details</p>
                  <div class="row">
                    <div class="col-xs-2">
                      <select class="form-control" name="type" #type (click)="onType(type.value)">
                        <option>Item Type</option>
                        <option value="Hardware">Hardware</option>
                        <option value="Food">Food</option>
                        <option value="Clothing">Clothing</option>
                        <option value="Other">Other</option>
                      </select>
                    </div>
                    <div class="col-xs-2">
                      <select class="form-control fca" name="size" #size (click)="onSize(size.value)">
                        <option>Item Size</option>
                        <option value="Less then 10KG">Less then 10KG</option>
                        <option value="In Between 10-25KG">Between 10-25KG</option>
                        <option value="More then 25KG">More then 25KG</option>
                        <option value="Undefined">Undefined</option>
                      </select>
                    </div>
                    <div class="col-xs-2">
                      <input type="number" (keyup)="onTotal(total.value)" class="form-control fcab" name="total" #total placeholder="Total Item">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <p class="col-md-4 control-label">Departing and Reciving On</p>
                  <div class="row">
                    <div class="col-xs-3">
                      <input type="date" class="form-control" name="departing" #departing>
                    </div>
                    <div class="col-xs-3">
                      <input type="date" class="form-control fca" name="reciving" #reciving>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <p class="col-md-4 control-label">Pioraty</p>
                  <div class="col-md-6">
                    <select class="form-control" name="pioraty" #pioraty>
                      <option value="Normal">Normal</option>
                      <option value="Urgent">Urgent</option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <p class="col-md-4 control-label">More Information</p>
                  <div class="col-md-6">
                    <textarea class="form-control" rows="5" name="information" #information></textarea>
                  </div>
                </div>

                <div class="form-group">
                  <p class="col-md-4 control-label">Total Amount</p>
                  <div class="col-md-4">
                    <div class="input-group">
                      <div class="input-group-addon">$</div>
                      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount" value="{{ price }}">
                      <div class="input-group-addon">.00</div>
                    </div>
                  </div>
                  <button type="submit" class="btn-cp btn btn-primary">Confirm Process</button>
                </div>
                
              </form>
            </tab>
            <tab heading="Package" id=2>
              <table class="table">
                <thead>
                  <tr>
                    <th>Origion</th>
                    <th>Destination</th>
                    <th>Address</th>
                    <th>Type</th>
                    <th>Size</th>
                    <th>Total</th>
                    <th>Departing</th>
                    <th>Reciving</th>
                    <th>Pioraty</th>
                    <th>Information</th>
                    <th class="list-group-item-success">$</th>
                    <th class="status-info list-group-item-info" tooltip="Delivery status!">!</th>
                  </tr>
                </thead>
                <tbody class="trHide">
                  <tr *ngFor="let item of items | async">
                    <td>{{ item.origion }}</td>
                    <td>{{ item.destination }}</td>
                    <td>{{ item.address }}</td>
                    <td>{{ item.type }}</td>
                    <td>{{ item.size }}</td>
                    <td>{{ item.total }}</td>
                    <td>{{ item.departing }}</td>
                    <td>{{ item.reciving }}</td>
                    <td>{{ item.pioraty }}</td>
                    <td>{{ item.information }}</td>
                    <td class="list-group-item-success">{{ item.price }}</td>
                    <td class="status-info list-group-item-info">{{ item.status }}</td>
                  </tr>
                </tbody>
              </table>
            </tab>
            <tab heading="Details" id=3>
              <h4>How it works?</h4><br/>
              <ul>
                <li>First place your shipping details at <a (click)="selectTab(0)">Select second tab</a>,</li>
                <li>After that your process will be submit,</li>
                <li>You can also check your Shipping history at <a (click)="selectTab(1)">Package tab</a>.</li>
              </ul><br/>
            </tab>
          </tabset>
      </div>
    </div>
  </div>
</div>