<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Cargomatic</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="/">Home</a>
        </li>
        <li>
          <a routerLink="about">About</a>
        </li>
        <li>
          <a routerLink="contact">Contact</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" *ngIf="isLoggedIn">
          <li *ngIf="!adminLog" dropdown>
            <a dropdownToggle>{{ _auth.displayName }} <span class="caret"></span></a>
            <ul *dropdownMenu class="dropdown-menu">
              <li><a routerLink="profile">Profile</a></li>
              <li><a routerLink="main">Main Dashboard</a></li>
              <li class="disabled"><a routerLink="main">View Package History</a></li>
              <li class="disabled"><a href="#">Help</a></li>
              <li role="separator" class="divider"></li>
              <li class="disabled"><a href="#">Settings</a></li>
            </ul>
          </li>
          <li *ngIf="adminLog" dropdown>
            <a dropdownToggle>{{ _auth.getName }} <span class="caret"></span></a>
            <ul *dropdownMenu class="dropdown-menu">
              <li><a routerLink="profile">Profile</a></li>
              <li><a routerLink="main">Main Dashboard</a></li>
              <li><a routerLink="admin">Administration Panel</a></li>
              <li class="disabled"><a href="#">Help</a></li>
              <li role="separator" class="divider"></li>
              <li class="disabled"><a href="#">Settings</a></li>
            </ul>
          </li>
          <li>
            <a href="#" (click)="logout()">Logout</a>
          </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="!isLoggedIn">
          <li>
            <a routerLink="login">Login</a>
          </li>
          <li>
            <a routerLink="register">Register</a>
          </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>