<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          AdminPage
        </div>
        <div class="panel-body">
          <tabset>
            <tab heading="Register Clients" class="p-tap" disabled=true></tab>
            <tab heading="Register Admins" class="p-tap" active=true>
              <table class="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of items | async">
                    <td>{{ item.uid }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.email }}</td>
                  </tr>
                </tbody>
              </table>
            </tab>
            <tab heading="Details" class="p-tap" disabled=true></tab>
          </tabset>
      </div>
    </div>
  </div>
</div>