<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="alert alert-{{ alertType }}" role="alert" *ngIf="alert">
        <strong class="alertUppercase">{{ alertType }}!</strong>  {{ alertMessage }}
        <strong class="fr" (click)="reset()">x</strong>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          AdminPage
        </div>
        <div class="panel-body">
          <tabset>
            <tab heading="Register Clients" class="p-tap" disabled=true></tab>
            <tab heading="Register Admins" class="p-tap" active=true>
              <table class="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of items | async">
                    <td>{{ item.uid }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.email }}</td>
                  </tr>
                </tbody>
              </table>
            </tab>
            <tab heading="Client Packages" class="p-tap">
              <table class="table">
                <thead>
                  <tr>
                    <th>Origion</th>
                    <th>Destination</th>
                    <th>Address</th>
                    <th>Type</th>
                    <th>Size</th>
                    <th>Total</th>
                    <th>Departing</th>
                    <th>Reciving</th>
                    <th>Pioraty</th>
                    <th>Information</th>
                    <th class="list-group-item-success">$</th>
                    <th class="status-info list-group-item-info" tooltip="Delivery status!">!</th>
                  </tr>
                </thead>
                <tbody class="trHide">
                  <tr *ngFor="let clientPackage of clientPackages | async">
                    <td>{{ clientPackage.origion }}</td>
                    <td>{{ clientPackage.destination }}</td>
                    <td>{{ clientPackage.address }}</td>
                    <td>{{ clientPackage.type }}</td>
                    <td>{{ clientPackage.size }}</td>
                    <td>{{ clientPackage.total }}</td>
                    <td>{{ clientPackage.departing }}</td>
                    <td>{{ clientPackage.reciving }}</td>
                    <td>{{ clientPackage.pioraty }}</td>
                    <td>{{ clientPackage.information }}</td>
                    <td class="list-group-item-success">{{ clientPackage.price }}</td>
                    <td class="status-info list-group-item-info">
                      <button class="btn btn-link" (click)="confirm(clientPackage.$key)">{{ clientPackage.status }}</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </tab>
            <tab heading="Details" class="p-tap" disabled=true></tab>
          </tabset>
      </div>
    </div>
  </div>
</div>